<ul class="nav nav-tabs" role="tablist" id="menus">
  <li class="active"><a role="tab" data-toggle="tab" data-target="#share"><span class="glyphicon glyphicon-heart"></span></a></li>
  <li><a role="tab" data-toggle="tab" data-target="#volunter"><span class="glyphicon glyphicon-tasks"></span></a></li>
  <li><a role="tab" data-toggle="tab" data-target="#donate"><span class="glyphicon glyphicon-credit-card"></span></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="share">
  <div class="container">
	<form  action="#" method="post" enctype="text/plain" id="contact-form" role="form">
  <div class="form-group">
    <textarea name="details" placeholder="Share the pickup details like quantity,place,and time" class="form-control" rows="6"></textarea>
  </div>
  <div class="form-group">
    <input name="name" type="text" placeholder="Name" class="form-control">
  </div>
  <div class="form-group">
    <input name="phone" type="text" placeholder="Phone Number" class="form-control">
  </div>
  <button type="submit" class="btn btn-default pull-right">Submit</button>
</form>
</div>
  
  </div>
  <div class="tab-pane fade" id="volunter">
  <div class="container">
  <span class="volunter-icon">V</span>
  <button type="submit" class="btn btn-default align-center">Become Volunter</button>
  </div>
  </div>
  <div class="tab-pane fade" id="donate">
  
  </div>
  <div class="tab-pane fade" id="aboutus">
  
  
  </div>
</div>

